.table-panel {
  height: 295px;
}

.table td.text {
  max-width: 177px;
  span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      max-width: 100%;
  }
}

.table td.notesText {
  width: 10%;
  max-width: 177px;
}