<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Current Job Listings" ba-panel-class="with-scroll">
        <div class="horizontal-scroll">
          <table class="table table-hover" st-table="displayedCollection" st-safe-src="invoicesTableData" ng-if="!isSyncingWithRoutzy">
            <div class="row" ng-show="showAlert()">
              <div class="col-md-4">
                <div class="alert bg-warning">
                  <h4>Confirmation</h4>
                  <strong>You are about to enqueue:</strong> ({{selectedCount(displayedCollection)}}) jobs to Quickbooks.
                  <div class="control-alert">
                    <button type="button" class="btn btn-danger" ng-click="enqueue(displayedCollection)">Import</button>
                    <button type="button" class="btn btn-primary" ng-click="toggleAlert()">Ignore</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" ng-show="showSuccessImport()">
              <div class="col-md-3">
                <div class="alert bg-success">
                  <h4>Success</h4>
                  <strong>Jobs enqueued</strong>
                </div>
              </div>
            </div>
            <div class="row" ng-show="showErrorImport()">
              <div class="col-md-3">
                <div class="alert bg-error">
                  <h4>Error</h4>
                  <strong>Jobs not enqueued</strong>
                </div>
              </div>
            </div>
            <thead>
              <tr class="sortable">
                <th>View</th>
                <th st-sort="first_name">First Name</th>
                <th st-sort="last_name">Last Name</th>
                <th st-sort="shipping_address_line_1">Address</th>
                <th st-sort="shipping_address_postal_code">Zipcode</th>
                <th st-sort="shipping_address_city">City</th>
                <th st-sort="shipping_address_state">State</th>
                <th st-sort="phone">Phone</th>
                <th st-sort="email">Email</th>
                <th st-sort="proposal_status">Status</th>
                <th st-sort="customer_notes">Notes</th>
                <th st-sort="date" st-sort-default="reverse">Date</th>
                <th st-sort="total">Total</th>
              </tr>
              <tr>
                <th></th>
                <th>
                  <input st-search="first_name" placeholder="Search.." class="input-sm form-control search-input" type="search" />
                </th>
                <th>
                  <input st-search="last_name" placeholder="Search.." class="input-sm form-control search-input" type="search" />
                </th>
                <th>
                  <input st-search="shipping_address_line_1" placeholder="Search.." class="input-sm form-control search-input" type="search"
                  />
                </th>
                <th>
                  <input st-search="shipping_address_postal_code" placeholder="Search.." class="input-sm form-control search-input" type="search"
                  />
                </th>
                <th>
                  <input st-search="shipping_address_city" placeholder="Search.." class="input-sm form-control search-input" type="search"
                  />
                </th>
                <th>
                  <input st-search="shipping_address_state" placeholder="Search.." class="input-sm form-control search-input" type="search"
                  />
                </th>
                <th>
                  <input st-search="phone" placeholder="Search.." class="input-sm form-control search-input" type="search" />
                </th>
                <th>
                  <input st-search="email" placeholder="Search.." class="input-sm form-control search-input" type="search" />
                </th>
                <th>
                  <input st-search="{{selectedPredicate}}" placeholder="Search.." class="input-sm form-control search-input" type="search"
                  />
                </th>
                <th>
                  <input st-search="date" placeholder="Search.." class="input-sm form-control search-input" type="search" />
                </th>
                <th>
                  <input st-search="total" placeholder="Search.." class="input-sm form-control search-input" type="search" />
                </th>
                <th>
                  <input st-search="tax_name" placeholder="Search.." class="input-sm form-control search-input" type="search" />
                </th>
              </tr>
            </thead>
            <div class="spinner" ng-if="isSyncingWithRoutzy">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <tbody ng-if="!isSyncingWithRoutzy">
              <tr ng-repeat="item in (filteredItems = (displayedCollection | filter:invoiceFilter))">
                <td>
                  <div class="icons-list primary">
                    <i ui-sref="details({id:item.proposal_id})" class="ion-search"></i>
                  </div>
                </td>
                <td>{{item.first_name}}</td>
                <td>{{item.last_name}}</td>
                <td>{{item.shipping_address_line_1}}</td>
                <td>{{item.shipping_address_postal_code}}</td>
                <td>{{item.shipping_address_city}}</td>
                <td>{{item.shipping_address_state}}</td>
                <td>{{item.phone}}</td>
                <td>
                  <a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a>
                </td>
                <td>
                  <div>
                    <button type="button" ng-if="item.job_status" class="{{item.job_status === 'Pending' ? 'btn btn-primary' : item.job_status === 'Complete' ? 'btn btn-success' : 'btn btn-warning'}}" data-toggle="modal"
                      ng-click="openStatus('app/pages/employee/editModals/statusModal.html', 'md', item.job_status, item )">{{item.job_status}}</button>
                    <button type="button" ng-if="!item.job_status" class="{{setJobStatus === 'Pending' ? 'btn btn-primary' : setJobStatus === 'Complete' ? 'btn btn-success' : 'btn btn-warning'}}" data-toggle="modal"
                      ng-click="openStatus('app/pages/employee/editModals/statusModal.html', 'md', setJobStatus, item )">{{setJobStatus}}</button>
                  </div>
                </td>
                <td class="notesText">
                  <span>{{item.employee_notes}} </span>
                  <button type="button" class="btn btn-danger btn-icon" uib-tooltip="edit notes" tooltip-placement="top" ng-click="openNotes('app/pages/employee/editModals/editNotes.html', 'md', item )" >
                    <i class="ion-edit"></i>
                  </button>
              </td>
                <td>{{item.date | date:'MM-dd-yyyy' : '+0000'}}</td>
                <td>
                  <div>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                      ng-click="openPayment('app/pages/employee/editModals/paymentModal.html', 'md', item.total, item)">${{item.total}}</button>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>